<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Equipo</h2>
            <h3 class="section-subheading text-muted">Somos expertos en brindar el mejor servicio.</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                    <h4>Moises Aviles</h4>
                    <p class="text-muted">Desarrollador</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><fa-icon [icon]="faTwitter"></fa-icon></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><fa-icon [icon]="faFacebook"></fa-icon></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                    <h4>Claudia Fajardo</h4>
                    <p class="text-muted">Diseñador</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><fa-icon [icon]="faTwitter"></fa-icon></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><fa-icon [icon]="faFacebook"></fa-icon></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Te ofrecemos el servicio de compra y venta más eficiente del pais, brindando
                    una plataforma facil y segura de usar.</p>
            </div>
        </div>
    </div>
</section>