<!-- <div [ngClass]="{'visible':regionVisible == 'carShop', 'no-visible':regionVisible != 'carshop'}">
    <app-header></app-header>
</div> -->
<!-- <button (click)="inicio()">ver</button> -->
<!-- <div  [ngClass]="{'visible':regionVisible == 'inicio', 'no-visible':regionVisible == 'inicio'}">
    <app-inicio  ></app-inicio>

</div> -->

<!-- <div [ngClass]="{'visible':regionVisible == 'carShop', 'no-visible':regionVisible != 'carshop'}"> -->
<!-- <div>
    
    <app-categorias></app-categorias>
    <app-about></app-about>
    <app-team></app-team>
    <app-footer></app-footer>

</div>  -->

<!-- <app-masthead></app-masthead> -->

<!-- <app-services></app-services> -->

<!-- <app-categorias (onEmpresas)="selCategoria($event)"></app-categorias> -->
<!-- <app-about></app-about> -->
<!-- <app-team></app-team> -->
<!-- <app-footer></app-footer> -->

<!-- <div [ngClass]="{'visible':regionVisible == 'cartshop', 'no-visible':regionVisible != 'cartshop'}"> -->
    <!-- <div> -->
        <!-- <app-cartshop></app-cartshop> 
    </div> -->

<!-- <app-categorias></app-categorias> -->
<!-- <div [ngClass]="{'visible':regionVisible == 'cartdetalle', 'no-visible':regionVisible != 'cartdetalle'}"> -->
<!-- <div> -->
    <!-- <app-cartdetalle></app-cartdetalle> 
</div> -->

<router-outlet></router-outlet>

