<app-header></app-header>
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading ">Categorias</h2>
            <h3 class="section-subheading text-muted">Variedad de Empresas & Productos en un solo click</h3>
        </div>
        <div class="row">
            <!-- <div class="col-lg-4 col-sm-6 mb-4" routerLink="/cartshop" *ngFor="let cat of Categorias"> -->
            <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let cat of Categorias">
                <!-- Portfolio item 1-->
                <div class="portfolio-item" (click)="getEmpresas(cat._id)">
                    <a class="portfolio-link" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{cat.icono}}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{cat.nombreCategoria}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{cat.descripcion}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
