<section id="home"><h2>Home</h2></section>
    <section id="services"><h2>Services</h2></section>
    <section id="gallery"><h2>Gallery</h2></section>
    <section id="contact"><h2>Contact</h2></section>
    <ul class="sidebar">
        <li class="nav-item">
            <a href="#home" class="nav-link">
                <fa-icon  [icon]=" faHome "></fa-icon>
                <span class="title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#services" class="nav-link">
                <fa-icon  [icon]=" faCogs "></fa-icon>
                <span class="title">Services</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#gallery" class="nav-link">
                <fa-icon  [icon]=" faImages "></fa-icon>
                <i class="fas fa-images"></i>
                <span class="title">Gallery</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="nav-link">
                <fa-icon  [icon]=" faAddressBook "></fa-icon>
                <span class="title">Contact</span>
            </a>
        </li>
    </ul>
