<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading ">Servicios</h2>
            <h3 class="section-subheading text-muted">Compra lo que tu quieras.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="ico-div">
                    <p class="ico-p"><fa-icon  [icon]=" faMedkit "></fa-icon></p>      
                </div>
                
                <!-- <span class="fa-stack fa-4x"> -->
                    <!-- <fa-icon class="fa-stack-2x text-primary" [icon]="faCircle"></fa-icon>  -->
                    <!-- <fa-icon class="fa-stack-1x " [icon]=" faMedkit "></fa-icon> -->
                    <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i> -->
                    <!-- <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                <!-- </span> -->
                <h4 class="my-3">Salud</h4>
                <p class="text-muted">Te ofrecemos la posibilidad de obtener tus medicamentos con un solo click.</p>
            </div>
            <div class="col-md-4">
                <div class="ico-div">
                    <p class="ico-p"><fa-icon  [icon]=" faIceCream "></fa-icon></p>      
                </div>
                <h4 class="my-3">Postres</h4>
                <p class="text-muted">Ordena los postres mas deliciosos a traves de nuestra aplicación móvil.</p>
            </div>
            <div class="col-md-4">
                <div class="ico-div">
                    <p class="ico-p"><fa-icon  [icon]=" faUtensils "></fa-icon></p>      
                </div>
                <h4 class="my-3">Comidas</h4>
                <p class="text-muted">Lo que se te antoje a tu disposición con nuestras cartillas de diferentes platillos.</p>
            </div>
        </div>
    </div>
</section>