<nav class="navbar navbar-expand-lg navbar-dark bg-navBar">
    <div class="container px-4 px-lg-5">
        <!-- <a class="navbar-brand" href="#!">Somo-PÁ</a> -->
        <img class="img-cartShop" src="/assets/logo/logomotorista.png" alt="">
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/">Regresar</a></li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Shop</a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <li><a class="dropdown-item" href="#!">Todo los Productos</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Los Mas Popular</a></li>
                        <li><a class="dropdown-item" href="#!">Recientes</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex ml-auto">
                <button class="btn btn-outline-dark" type="button"  (click)="abrirNewApp(processCompra)">
                    <!-- <i class="bi-cart-fill me-1"></i> -->
                    <fa-icon [icon]="faShoppingCart">Menu</fa-icon>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>





    <!--* Modal ver Ordenes -->

    <ng-template #processCompra let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Productos Agregados</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>producto 1</td>
                        <td>1</td>
                        <td>$.1000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cerrar</button>
          <button type="button" class="btn btn-outline-dark" routerLink="/processcompra" (click)="modal.close('Save click')">Procesar</button>
        </div>
      </ng-template>